aef-qwen==0.1.0
op_test_frame==0.1
auto_tune==0.1.0
llm_datadist_v1==0.0.1
asc_op_compile_base==0.1.0
msobjdump==0.1.0
dataflow==0.0.1
schedule_search==0.0.1
asc_opc_tool==0.1.0
te==0.4.0
opc_tool==0.1.0
show_kernel_debug_data==0.1.0
llm_datadist==0.0.1
op_compile_tool==0.1.0
es_math==1.0.0
ge-py==0.0.1
superkernel==0.1.0
hccl==0.1.0
mspti==0.0.1
op_gen==0.1
aef-qwen==0.1.0
torchmetrics==1.9.0
platformdirs==4.9.6
pyasn1==0.6.3
jmespath==0.10.0
pystac==1.14.3
planetary-computer==1.0.0
pycparser==3.0
pystac-client==0.9.0
tzdata==2026.2
cloudpickle==3.1.2
odc-stac==0.5.2
google-cloud-core==2.6.0
shapely==2.1.2
datasets==4.8.5
google-crc32c==1.8.0
rtree==1.4.1
aiosignal==1.4.0
xlsxwriter==3.2.9
aliyun-python-sdk-kms==2.16.5
python-dotenv==1.2.2
smmap==5.0.3
tifffile==2026.3.3
mdurl==0.1.2
certifi==2026.4.22
colorama==0.4.6
multiprocess==0.70.19
oss2==2.17.0
pyasn1_modules==0.4.2
gitdb==4.0.12
jsonschema-specifications==2025.9.1
et_xmlfile==2.0.0
google-cloud-storage==3.10.1
rpds-py==0.30.0
mmsegmentation==1.2.2
tabulate==0.10.0
soupsieve==2.8.3
googleapis-common-protos==1.75.0
flatbuffers==25.12.19
requests==2.33.1
google-api-python-client==2.196.0
aef-qwen==0.1.0
geopandas==1.1.3
dask==2026.3.0
joblib==1.5.3
aliyun-python-sdk-core==2.16.0
crcmod==1.7
httpx==0.28.1
cycler==0.12.1
mmcv==2.2.0
pyproj==3.7.2
google-resumable-media==2.9.0
beautifulsoup4==4.14.3
google-auth-httplib2==0.4.0
markitdown==0.1.5
packaging==24.2
odc-loader==0.6.4
xarray==2026.4.0
markdownify==1.2.2
referencing==0.37.0
fsspec==2026.2.0
ImageIO==2.37.3
importlib_metadata==9.0.0
idna==3.13
openxlab==0.1.3
pycryptodome==3.23.0
attrs==26.1.0
jsonschema==4.26.0
dill==0.4.1
geedim==2.0.0
absl-py==2.4.0
annotated-doc==0.0.4
GitPython==3.1.50
mmengine==0.10.7
networkx==3.6.1
google-auth==2.52.0
pydantic==2.13.4
lightning==2.6.1
openpyxl==3.1.5
mpmath==1.3.0
decorator==5.2.1
setuptools==75.8.0
transformers==4.51.0
lightning-utilities==0.15.3
threadpoolctl==3.6.0
numpy==1.26.4
model-index==0.1.11
pytorch-lightning==2.6.1
click==8.3.3
opencv-python==4.9.0.80
rioxarray==0.19.0
markdown-it-py==4.1.0
huggingface_hub==0.36.2
pyarrow==24.0.0
onnxruntime==1.25.1
six==1.17.0
pandas==2.3.3
segment-anything==1.0
openmim==0.3.9
earthengine-api==1.7.25
wandb==0.26.1
addict==2.4.0
texttable==1.7.0
tcod==21.2.0
h11==0.16.0
Markdown==3.10.2
tokenizers==0.21.4
yapf==0.43.0
Pygments==2.20.0
prettytable==3.17.0
httplib2==0.31.2
accelerate==1.13.0
shellingham==1.5.4
lazy-loader==0.5
cligj==0.7.2
pytz==2023.4
ftfy==6.3.1
click-plugins==1.1.1.2
aiohappyeyeballs==2.6.1
pyogrio==0.12.1
locket==1.0.0
affine==2.4.0
urllib3==1.26.20
filelock==3.14.0
Jinja2==3.1.6
toolz==1.1.0
cachetools==7.1.1
annotated-types==0.7.0
regex==2026.4.4
stackstac==0.5.1
rich==13.4.2
termcolor==3.3.0
pydantic_core==2.46.4
proto-plus==1.28.0
odc-geo==0.5.1
python-pptx==1.0.2
igraph==1.0.0
anyio==4.13.0
opendatalab==0.0.10
tqdm==4.67.3
sympy==1.14.0
pyparsing==3.3.2
uritemplate==4.2.0
zipp==3.23.1
rasterio==1.4.4
modelscope==1.36.3
partd==1.4.2
wcwidth==0.7.0
httpcore==1.0.9
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
typer==0.25.1
scikit-image==0.26.0
magika==0.6.3
hf-xet==1.5.0
sentry-sdk==2.59.0
defusedxml==0.7.1
typing-inspection==0.4.2
ordered-set==4.1.0
google-api-core==2.30.3
torch==2.1.0
cffi==1.17.1
kiwisolver==1.4.7
regex==2024.9.11
tornado==6.4.1
geventhttpclient==2.3.1
confluent-kafka==2.10.1
sentencepiece==0.2.0
aiohttp==3.13.5
MarkupSafe==2.1.5
frozenlist==1.8.0
torchvision==0.16.0
torch-npu==2.1.0.post18.dev20251112
ml_dtypes==0.5.0
PyYAML==6.0.2
zope.interface==7.0.3
grpcio==1.66.1
yarl==1.23.0
RapidFuzz==3.10.0
numpy==1.26.4
propcache==0.4.1
scipy==1.14.1
charset-normalizer==3.3.2
tritonclient==2.49.0
python-rapidjson==1.20
greenlet==3.1.1
cryptography==43.0.3
tokenizers==0.21.4
tiktoken==0.7.0
pyarrow==17.0.0
numba==0.61.2
llvmlite==0.44.0
psutil==6.0.0
multidict==6.7.1
matplotlib==3.9.2
contourpy==1.3.0
lxml==5.3.0
Brotli==1.1.0
posix_ipc==1.2.0
fonttools==4.54.1
safetensors==0.4.5
gevent==24.2.1
xxhash==3.6.0
pydantic_core==2.41.5
pillow==11.2.1
orjson==3.11.8
scikit-learn==1.5.0
Levenshtein==0.27.3
h5py==3.16.0
onnx==1.21.0
tree-sitter==0.21.3
protobuf==7.34.1
pandas==1.5.3
tree-sitter-languages==1.10.2
opencv-python-headless==4.11.0.86
jiter==0.14.0
platformdirs==4.9.6
einops==0.8.2
dill==0.3.8
human-eval==1.0.3
langdetect==1.0.9
narwhals==2.19.0
json5==0.14.0
msit==8.1.0
mdurl==0.1.2
gradio_client==2.4.1
pyext==0.5
math-verify==0.5.2
libclang==18.1.1
rank-bm25==0.2.2
evaluate==0.4.6
httpx==0.28.1
msit-llm==8.1.0
timeout-decorator==0.5.0
retrying==1.4.2
importlib_metadata==9.0.0
msguard==0.0.8
msmodelslim==8.2.0
rouge-chinese==1.0.3
pydantic==2.12.5
annotated-doc==0.0.4
func-timeout==4.3.5
multiprocess==0.70.16
datasets==3.6.0
plotly==6.7.0
fire==0.7.1
threadpoolctl==3.6.0
click==8.3.2
addict==2.4.0
ais-bench-benchmark==3.0.20251103
bracex==2.6
yapf==0.43.0
Pygments==2.20.0
shellingham==1.5.4
mmengine-lite==0.10.7
antlr4-python3-runtime==4.13.2
rich==14.3.3
wcmatch==10.1
typer==0.24.1
immutabledict==4.3.1
python-Levenshtein==0.27.3
easydict==1.13
markdown-it-py==4.0.0
httpcore==1.0.9
seaborn==0.13.2
sniffio==1.3.1
typing_extensions==4.15.0
openai==2.31.0
zipp==3.23.0
distro==1.9.0
latex2sympy2_extended==1.0.6
ply==3.11
typing-inspection==0.4.2
msprechecker==0.4.0
mindiesimulator==0.0.1
om_adapter==0.0.1
mies_tokenizer==0.0.1
mindie_llm==2.3.1
mindieclient==2.3.1
mindiebenchmark==2.3.1
llm_manager_python_api_demo==2.3.1
node_manager==0.0.1
mindiesd==2.3.1
sympy==1.13.3
aiosignal==1.4.0
colorama==0.4.6
pytz==2024.2
Jinja2==3.1.4
sacrebleu==2.4.3
watchdog==6.0.0
icetk==0.0.4
tqdm==4.66.5
latex2mathml==3.77.0
huggingface-hub==0.30.0
tzdata==2024.2
fastapi==0.115.11
idna==3.10
cycler==0.12.1
cloudpickle==3.0.0
thefuzz==0.22.1
decorator==5.1.1
loguru==0.7.2
Markdown==3.7
uvicorn==0.34.3
wcwidth==0.2.13
openpyxl==3.1.5
mpmath==1.3.0
rouge-score==0.1.2
transformers==4.51.0
certifi==2024.8.30
text-generation==0.7.0
six==1.16.0
requests==2.32.3
h11==0.16.0
mdtex2html==1.3.0
pycparser==2.22
fuzzywuzzy==0.18.0
jieba==0.42.1
jsonlines==4.0.0
fsspec==2024.9.0
wheel==0.44.0
attrs==24.2.0
nltk==3.9.1
joblib==1.4.2
starlette==0.46.2
packaging==24.1
aiohappyeyeballs==2.6.1
et-xmlfile==1.1.0
annotated-types==0.7.0
anyio==4.13.0
prettytable==3.11.0
cpm-kernels==1.0.11
filelock==3.16.1
zope.event==5.0
termcolor==2.4.0
accelerate==0.34.2
networkx==3.3
python-dateutil==2.9.0.post0
portalocker==2.10.1
urllib3==2.2.3
tabulate==0.9.0
pyOpenSSL==24.2.1
pyparsing==3.1.4
absl-py==2.1.0
rouge==1.0.1
torch_atb==0.0.1
gpg==1.21.0
rpm==4.18.2
libcomps==0.1.19
pyparsing==3.1.1
setuptools==68.0.0
pip==23.3.1
